[hosts]
rhs-srv-01.gdev.lab.eng.rdu2.redhat.com
rhs-srv-02.gdev.lab.eng.rdu2.redhat.com

[lv]
action=create
vgname=aplo_scale
mount=/data/@@LVDIR@@
lvname=@@LVNAME@@
size=18G
lvtype=thick

[volume]
action=create
volname=@@VOLNAME@@
replica_count=2
brick_dirs=/data/@@LVDIR@@
force=yes


[clients]
action=mount
volname=@@VOLNAME@@
hosts=rhs-srv-01.gdev.lab.eng.rdu2.redhat.com
fstype=glusterfs
client_mount_points=/mnt/@@VOLNAME@@
